@use 'src/styles/main';

.errorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - #{main.$navHeight} - #{main.$mainMargin} * 2 - #{main.$mainPadding} * 2);

  .title {
    font-size: 100px;
    margin: 0;
  }
}
