@use 'src/styles/common';
@use 'src/styles/main';
@use '../../common/styles/common' as chatCommon;

@include chatCommon.mainPadding;

.main {
  @include chatCommon.chat;

  .chat__dialog {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;

    .chat__empty-message {
      width: 100%;
      text-align: center;
      color: #DAD9DD;
    }
  }
}
