@use 'src/styles/common';
@use 'src/styles/main';
@use '../../common/styles/common' as chatCommon;
@include chatCommon.mainPadding;

.main {
  @include chatCommon.chat;

  .chat__dialog {
    display: flex;
    place-items: center center;
    width: 100%;

    .chat__empty-message {
      width: 100%;
      text-align: center;
      color: #dad9dd;
    }
  }
}
