@use 'src/styles/common';

#main {
  @include common.form('formLoginContainer');

  .formLoginContainer {
    .signInBtn {
      margin-top: 20px;
    }

    .registerLink {
      margin-top: 10px;
      align-items: center;
    }
  }
}
