export default `
<div class="message {{class}}">
  <span class="message__text">{{text}}</span>
  <div class="message__status">
    <span class="message__time">{{time}}</span>
    {{#if needStatus}}
      {{> img class="message__check-img" alt="check_all" src="../../../assets/check_all.svg" }}
    {{/if}}
  </div>
</div>`;
