export default `
<div class="formContainer">
  <form class="form">
    <h2 class="title">Регистрации</h2>
    {{> input title='Почта' name='email' }}
    {{> input title='Логин' name='login' }}
    {{> input title='Имя' name='name' }}
    {{> input title='Фамилия' name='second_name' }}
    {{> input title='Пароль' name='password' }}
    {{> input title='Подтверждение пароля' name='confirm_password' }}
    {{> button text='Зарегистрироваться' name='register' className='registerBtn'}}
  </form>
  <a class="registerLink" href="../LoginPage/LoginPage.html">Вход</a>
</div>
`;