@use 'src/styles/common';

$mainPadding: 20px;
$mainMargin: 15px;
$mainColorShadow: rgb(0 0 0 / 35%);
$navHeight: 59px;

* {
  box-sizing: border-box;
}

#app {
  margin: $mainMargin;
  padding: $mainPadding;
  height: calc(100vh - #{$mainMargin} * 2);
  border-radius: 10px;
  box-shadow: 0 0 10px $mainColorShadow;
}

#main {
  height: calc(100% - #{$navHeight});
}
