export default `
  <div class="{{styles.notActiveChat}}">
  {{{chatItems}}}
  <section class="{{styles.chat__dialog}}">
    <h2 class="{{styles.chat__empty-message}}">Выберите чат</h2>
  </section>
  </div>
`;
