@use 'src/styles/common';

#main {
  @include common.form('formProfilePasswordPage');

  .formProfilePasswordPage {
    display: grid;
    grid-template-rows: max-content min-content max-content min-content;
    place-items: center center;
    justify-items: center;

    .avatar {
      width: 80px;
      height: 80px;
      background: common.$grey;
      border-radius: 50%;
      position: relative;

      &[src='']::before {
        content: attr(alt);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        width: 80px;
        height: 80px;
        background-color: common.$grey;
        font-size: 12px;
      }
    }

    .editAvatar {
      .editAvatarImg {
        transform: scale(0.7);
      }

      .label {
        .title {
          cursor: pointer;
          font-size: 14px;
        }
      }

      .editProfileInput {
        display: none;
      }

      .editProfileTitle {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    .saveBtn {
      margin-top: 10px;
    }

    .cancelBtn {
      cursor: pointer;
      background: white;
      border: none;
      color: black;
      width: 100px;
      font-size: 12px;
    }
  }
}
