.message {
  padding: 10px 10px 5px;
  background: #d9d9d9;
  width: fit-content;

  .message__text {
    font-size: 18px;
  }

  .message__status {
    display: flex;
    justify-content: end;
    align-items: center;

    .message__time {
      font-weight: bold;
      font-size: 12px;
    }

    .message__check-img {
      transform: scale(0.5);
    }
  }
}
