@use 'src/styles/common';

$widthBtn: 100px;
$bgColorBtn: white;

.container {
  @include common.form;

  display: grid;
  grid-template-rows: max-content min-content max-content min-content;
  place-items: center center;
  justify-items: center;

  .avatar {
    width: 80px;
    height: 80px;
    background: common.$grey;
    border-radius: 50%;
    position: relative;
    align-items: center;

    &[src='']::before {
      content: attr(alt);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      width: 80px;
      height: 80px;
      background-color: common.$grey;
      font-size: 12px;
    }
  }

  .editAvatar {
    padding-bottom: 5px;

    :global(.input) {
      display: none;
    }

    .editAvatarImg {
      transform: scale(0.7);
      transition: transform 0.2s;
    }

    .label {
      .title {
        cursor: pointer;
        font-size: 14px;
      }
    }

    .editProfileInput {
      display: none;
    }

    .editProfileTitle {
      cursor: pointer;
      display: flex;
      align-items: center;

      @include common.hoverText;

      &:hover {
        .editAvatarImg {
          transform: scale(0.8);
        }
      }

      & > span {
        font-size: 15px;
      }
    }
  }

  .form_profile {
    input[disabled] {
      cursor: not-allowed;
    }
  }

  .buttons {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .exitBtn {
      color: common.$red;
      background: $bgColorBtn;
      width: $widthBtn;

      @include common.hoverText(common.$red, common.$darkRed);
    }

    .cancelBtn,
    .exitBtn {
      cursor: pointer;
    }
  }

  .cancelBtn {
    font-size: 14px;
    background: $bgColorBtn;
    width: $widthBtn;
    color: black;

    @include common.hoverText(black, common.$blue);
  }

  .customBtn {
    padding-top: 0;
    font-size: 14px;
    background: white;
    border: none;
    color: black;
  }
}
