export default `
<div class="formContainer">
  <form class="form">
    <h2 class="title">Вход</h2>
    {{> input title='Логин' name='login' }}
    {{> input type='password' title='Пароль' name='password' }}
    {{> button type='submit' text='Войти' name='sign_in' className='signInBtn' }}
  </form>
  <a class="registerLink" href="../RegisterPage/RegisterPage.html">Регистрация</a>
</div>
`;
