@use 'src/styles/common';
@use 'src/styles/main';
@use '../../common/styles/common' as chatCommon;
@include chatCommon.mainPadding;

.main {
  @include chatCommon.chat;

  .chat__dialog {
    display: grid;
    grid-template-rows: 40px 1fr 80px;

    .chat__header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid common.$grey;
      width: 100%;
      padding: 10px 20px;

      .chat_user-title {
        margin: 0;
      }

      .chat__edit {
        font-size: 20px;
        font-weight: bold;
        transform: rotate(90deg);
        cursor: pointer;
      }
    }
  }

  .chat__messages {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .chat__received_message {
      border-radius: 0 8px 8px;
    }

    .chat__answer_message {
      align-self: end;
      border-radius: 8px 8px 0;

      .message__time {
        color: common.$blue;
      }
    }
  }

  .chat__messages,
  .chat__form.form {
    padding: 20px;
  }

  .chat__form.form {
    display: grid;
    gap: 10px;
    grid-template-columns: 30px 1fr 50px;
    align-items: center;

    .chat__add-file-btn {
      transform: scale(1.5);
      cursor: pointer;
    }

    .form__send-message {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .form__input.chat__message {
      width: 100%;
      background: #edecec;
      border: none;
      border-radius: 15px;

      &::placeholder {
        color: #dad9dd;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
